body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

#category-list {
    margin-bottom: 30px;
}

#categories {
    list-style-type: none;
    padding: 0;
}

#categories li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-category input {
    padding: 10px;
    margin-right: 10px;
}

#add-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #218838;
}

#back-btn {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px; /* Add some space below the button */
}

#back-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
}